@import '../../theme/variables.scss';
.addPatient{
  .addPatientCon{
    padding: .08rem .14rem .08rem .06rem;
    margin-top: $tbmargin;
    .addPatientLi{
      position: relative;
      height: .36rem;
      line-height: .36rem;
      margin: .14rem 0;
      .leftPlaceholder{
        font-style: normal;
        width: .7rem;
        text-align: right;
        position: absolute;
        top:0;
        left:0;
      }
      div{
        margin-left:.9rem;
        div{
          position:relative;
        }
        input,div{
          width: 100%;
        }
      }
      .jietaiInfor{
        margin-left: .8rem;
        article{
          width: 46%;
          position: relative;
        }
      }
      div.textALi{
        text-align: center;
        .SexLi{
          display: inline-block;
          dt,dd{
            height: .36rem;
            line-height: .36rem;
            padding: 0 .2rem;
            position: relative;
            p{
              margin-top: .1rem;
              margin-right: .06rem;
            }
          }
        }
      }
    }
  }
  footer{
    margin: 0 .2rem;
  }
}
