@import '../../theme/variables.scss';
.needApartListCon{
  padding: .2rem $lrmargin;
  margin-bottom: .1rem;
}
.needAppart{
	.cancelNeedText{
		background: #f2f2f2;
		border: 1px solid $borderColor;
		border-radius: 2px;
		line-height: .3rem;
	}
}
