@import '../../theme/variables.scss';
.needApartListCon{
  padding: .2rem $lrmargin;
  margin-bottom: .1rem;
  footer{
  	margin-top: 6px;
  	a{
  		color: #fff;
  	}
  	a:linked, a:visited, a:hover, a:actived{
  		color: #fff;
  		border: none;
  	}
  }
}
.needAppart{
	.cancelNeedText{
		background: #f2f2f2;
		border: 1px solid $borderColor;
		border-radius: 2px;
		line-height: .3rem;
	}
}
i{
	font-style: normal;
}
.listHeader span:last-child i{
	display: none;
}