@import '../../theme/variables.scss';
.addDatePlan{
  padding: $lrmargin;
  header.headTitle{
    color: $mainColor;
    font-size: $jzfontSize;
    margin-bottom: .06rem;
    margin-top: $tbmargin;
  }
  ul{
    padding:.08rem .14rem .08rem .06rem;
    li{
      position: relative;
      line-height: .36rem;
      margin:.14rem 0;
      .leftPlaceholder{
        font-style: normal;
        width: .7rem;
        text-align: right;
        position: absolute;
        top:0;
        left:0;
      }
      .mainIcon{
        color: #f00;
        position: absolute;
        top:0;
        left:.72rem;
        font-size: $jzfontSize;
        line-height: .35rem;
      }
      div{
        margin-left:.9rem;
        div{
          position:relative;
          select{

          }
        }
        input,div{
          width: 100%;
        }
      }
      .scheduleType{
        .selectNoCur{
          border: 1px solid $borderColor;
          border-radius: 2px;
          height: .38rem;
          line-height: .38rem;
        }
        div{
          display: inline-block;
          width: 48%;
          margin-left:0;
        }
        div:first-child{
          margin-right: 4%;
        }
      }
    }
  }
}
textarea{
  width: 100%;
  min-height: 1rem;
}


.dateTimePicker{
  width: 100%;
  div{
    width: 100% !important;
    input{
      border-radius: 2px !important;
      border: 1px solid $borderColor !important;
      box-shadow: 0 0 0 #fff !important;
      padding: 0 .06rem !important;
      height: .36rem;
      line-height: .36rem;
    }
  }
}
