@import '../../theme/variables.scss';

.opera{
  .operaHeader{
    height: .45rem;
    line-height: .45rem;
    font-size: $jzjzfontSize;
    padding: 0 $lrmargin;
    div{
      p{
        border-top: .1rem solid #797979;
        margin-top: .18rem;
        margin-left: .04rem;
      }
    }
    div.operaPicker{
      position: fixed;
      top: .78rem;
      right: 0;
      bottom: 0;
      left: 0;
      section{
        background: #fff;
      }
      p{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(80, 80, 80, 0.3);
      }
    }
    article{
      font-size: $jzfontSize;
      i{
        width: .19rem;
        height: .21rem;
        background: url('../../images/sprite.png');
        background-size: 2rem;
        background-position: 0 -4rem;
        margin-top: .1rem;
        margin-right: .06rem;
      }
    }
    .addOpear{
      color: $mainColor;
      margin-left: $lrmargin;
    }
  }
  section{
    border-top: 1px solid $borderColor;
    margin: $tbmargin 0;
    header{
      font-size: $jzjzfontSize;
      color: $mainColor;
      height: .45rem;
      line-height: .45rem;
      padding: 0 $lrmargin;
      border-left: 5px solid $mainColor;
      p.curP{
        border-top: .1rem solid $mainColor;
        border-left: .08rem solid transparent;
        margin-top: .18rem;
        margin-right: .04rem;
      }
      p{
        border-left: .1rem solid $mainColor;
        border-top: .08rem solid transparent;
        margin-top: .14rem;
      }
    }
    ul{
      padding: 0 $lrmargin;
      border-top: 1px solid $borderColor;
      li{
        color: $jzfontColor;
        padding: $tbmargin 0;
        border-top: 1px solid $borderColor;
        i{
          width: 4%;
          color: $xsfontColor;
          font-style: normal;
        }
        P{
          width: 80%;
          height: .2rem;
          overflow: hidden;
          
        }
        article{
          width: 16%;
          text-align: center;
        }
      }
      li:first-child{
        border-top: 1px solid #fff;
      }
    }
  }
}
