@import '../../theme/variables';

.modalFa{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	display: table;
}
.modal{
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 10%;
	.modalBg{
	  background: rgba(80,80,80,.3);
	}
	.modalSection{
	  background: #fff;
	  border-radius: .06rem;
	  width: 84%;
	  margin: 0 auto;
	  box-shadow: 0 0 8px;
	  .modalTitle{
	  	border-radius: .06rem 0.06rem 0 0;
	  	padding: 0 $lrmargin;
	  	position: relative;
	  	text-align: center;
	  	h3{	
		  	height: .44rem;
		  	line-height: .44rem;
	  		font-size: $jzjzfontSize;
	  		font-weight: normal;
	  		color: $jzfontColor;
	  	}
	  	span{
	  		position: absolute;
	  		font-size: .2rem;
	  		top: .06rem;
	  		right: $lrmargin;
	  		background: url(../../images/sprite.png);
	  		width: .2rem;
	  		height: .2rem;
	  		background-size: 3rem;
	  		background-position: -.28rem .05rem;
	  	}
	  }
	  .modalSectionSection{
	  	padding: $tbmargin $lrmargin;
	  	max-height: 4.8rem;
	  	overflow-y: auto;
	  }
	  .modalButton{
	  	border-top: 1px solid $borderColor;
	  	height: .45rem;
	  	line-height: .45rem;
	  	button{
	  		width: 50%;
	  		border: 0px solid #fff;
	  		background: #fff;
	  		border-radius: 0 0 0 0.06rem;
	  	}
	  	.modalConfirm{
	  		background: $mainColor;
	  		color: #fff;
	  		border-radius: 0 0 0.06rem 0;
	  	}
	  }
	}
}

