@import '../../theme/variables';

.loginContainerFa{
  .loginContainer {
    position: relative;
    width: 85%;
    margin: 0rem auto;

    div {
      width: 100%;
      height: .4rem;
      margin: 0;
    }

    .blank {
      margin-bottom: .26rem;
    }

    input {
      width: 100%;
      height: .35rem;
      box-sizing: border-box;
      padding-left: .45rem !important;
      border: 0;
      border-bottom: 2px solid #fff;
      background: transparent;
      color: #fff;
    }::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #fff;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #fff;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #fff;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #fff;
    }

    .imgLeft {
      position: absolute;
      top: .06rem;
      left: .07rem;
      width: .18rem;
      height: .18rem;
    }

    .inputContainer {
      position: relative;
      margin-bottom: .13rem;

      .msgCodeIcon {
        position: absolute;
        right: 0;
        top: .04rem;
        font-size: .1rem;
        padding: .04rem .07rem;
        border-radius: .15rem;
      }

      .showPassword, .hidenPassword {
        position: absolute;
        right: .1rem;
        top: .05rem;
        width: .25rem;
        height: .25rem;
      }
    }

    .forgetPasswordContainer {
      position: relative;
      img{
        width: .14rem;
        margin-right: .04rem;
        margin-top: .116rem;
      }
      .forgetPassword {
        font-size: $xsfontSize;
        color: #fff;
        margin-top: .1rem;
      }
    }


    .loginBtnContainer, .registerBtnContainer {
      margin-top: .2rem;
    }

    .registerBtnContainer {
      margin-top: .32rem;
    }
  }
}  
