@import '../../theme/variables';

.SearchBar{
	height: .4rem;
	line-height: .4rem;
	box-sizing: content-box;
	background-color: #fff;
	border: 1px solid $mainColor;
	border-radius: .02rem;
	dt{
		width: 80%;
		height: .4rem;
		line-height: .4rem;
		position: relative;
		i{
			font-size: .2rem;
			color: $mainColor;
			padding: .09rem .06rem;
			position: absolute;
		}
		input{
			border: 0px solid #fff;
			background: transparent;
			margin-left: .34rem;
			width: 80%;
		}
	}
	dd{
		width: 20%; 
		text-align: center;
		height: .4rem;
		line-height: .4rem;
		button{
			font-size: $jzfontSize;
			color: $mainColor;
			border: 0px solid #fff;
			background: transparent;
		}
	}
}

