@import '../../theme/variables.scss';
.PatientInfor{
  section{
    margin:.1rem $lrmargin;
    .addPatientLi{
      position: relative;
      height: .3rem;
      line-height: .3rem;
      margin:.1rem $lrmargin;
      .leftPlaceholder{
        font-style: normal;
        width: .6rem;
        text-align: right;
        position: absolute;
        top:0;
        left:0;
      }
      div{
        margin-left:.8rem;
        div{
          position:relative;
        }
        input,div{
          width: 100%;
        }
      }
      div.textALi{
        text-align: center;
        .SexLi{
          display: inline-block;
          dt,dd{
            height: .3rem;
            line-height: .3rem;
            padding: 0 .2rem;
          }
          input[type="radio"]{
            width: auto;
            margin-right: .06rem;
          }
        }
      }
    }
    .addPatientLiFirst{
      margin-top: .16rem;
    }
    .addPatientLiEnd{
      margin-bottom: .16rem;
    }
  }
  footer{
    margin: 0 .2rem;
  }
}
