@import '../../theme/variables.scss';
.dutyReTab{
  text-align: center;
  .curTab{
    color: #fff !important;
    background-color: $mainColor;
  }
}

.dutyJzFColor{
  font-style: normal;
  color: $mainColor;
} 

.dutyRecords{
  section{
    header{
      background: #f2f2f2;
      padding: .03rem $lrmargin;
      color: $xsfontColor;
    }
    ul{
      padding: 0 $lrmargin;
      border-top: 1px solid $borderColor;
      border-bottom: 1px solid $borderColor;
      li{
        border-top: 1px solid $borderColor;
        padding: .07rem 0 .14rem;
        article{
          font-size: $xsfontSize;
          color: $xsfontColor;
          margin-bottom: .07rem;
        }
        .spanSuccess{
          color: $mainColor;
        }
        .spanFail{
          color: #D31E1E;
        }
        .spanOverdue{
          color: #999;
        }
      }
      li:first-child{
        border-top: 1px solid #fff;
      }
    }
  }
}  
.mainColorFont{
  color: $mainColor;
}
