@import '../../theme/variables.scss';
.addSurgery{
  .notPlanCon{
    padding-top: $tbmargin;
    div{
      height: .46rem;
      line-height: .46rem;
      color: $jzfontColor;
      padding: 0 $lrmargin;
      margin-top: $tbmargin;
      input[type="radio"]{
      }
    }
  }
  .addSurgeryFooter{
    margin: 0 .2rem;
  }
}
