@import '../../theme/variables.scss';

.dateTop {
  margin-bottom: 10px;
  font-size: $jzfontSize;
  position: relative;
  text-align: center;
  min-height: 450px;
  .dateTitle{
    position: relative;
    li.curTab {
      color: #fff !important;
      background-color: $mainColor;
    } 
  }
  .datePlanPicker{
    background: #fff;
    position: relative;
  }
  .scheduleItem{
    margin-top: $tbmargin;
    .curDaytitle{
      text-align: right;
      padding:6px $lrmargin;
      color: $xsfontColor;
      border-bottom: 1px solid $borderColor;
    }
    .curDayContact{
      padding:12px $lrmargin;
      color: $jzfontColor;
      li{
        div{
          height: 32px;
          line-height: 32px;
          padding: .06rem 0;
          box-sizing: content-box;
          i{
            font-size: 12px;
            border-radius: 50%;
            font-style: normal;
            width: 20px;
            height: 20px;
            line-height: 19px;
            text-align: center;
            margin-right: 12px;
            margin-top: 6px;
          }
          .timeStart{
            color: $xsfontColor;
            padding-right: 4px;
          }
          .timeRange{
            padding:0px 4px;
          }
          .outside{
            font-size: 12px;
            background-color: #ececec;
            padding:2px 10px;
            line-height: normal;
            margin-top: 8px;
          }
          .conflict{
            font-size: 12px;
            color: #eb3b50;
            i{
              margin-right: 3px;
              margin-left: 6px;
              display: inline-block;
              width: 18px;
              height: 18px;
              text-align: center;
              background-color: #eb3b50;
              color: #fff;
            }
          }
        }
 
        i.checkPlan{
          color: #f5a623;
          border: 1px solid #f5a623;
        }
        i.metting{
          color: #4a90e2;
          border: 1px solid #4a90e2;
        }
        i.opera{
          color: #33c7a6;
          border: 1px solid #33c7a6;
        }
        i.duty{
          color: #2faf2d;
          border: 1px solid #2faf2d;
        }
        i.zidingyi{
          color: #B72335;
          border: 1px solid #B72335;
        }
      }
    }
  }
}


//modol background mask
.modolBackDrop{
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  top:1rem;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
}

.scheduleFilterBtn{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  h3{
    color: $mainColor;
    font-weight: normal;
    text-align: right;
    margin-right: $lrmargin;
    font-size: $jzfontSize;
    height: .5rem;
    line-height: .5rem;
  }
  .scheduleFilterCon{
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: #fff;
    padding: $tbmargin $lrmargin;
    border-top:1px solid $borderColor;
    border-bottom:1px solid $borderColor;
    padding: 0.18rem 0.2rem .12rem;
    position: relative;
    z-index: 1000;
    div{
      i{
        font-style: normal;
        color: $mainColor;
        position: absolute;
        padding:.04rem .06rem .04rem 0;
      }
      section{
        padding-left: .44rem;
        text-align: left;
        width: 100%;
      }
      .selectDateFilter{
        .filterDate{
          width: 44%;
          border: 1px solid $borderColor;
          border-radius: 3px;
          padding: .04rem .06rem;
          position: relative;
          p{
            top: .08rem !important;
            right: 0 !important;
          }
          .filterFirstPicker, .filterSecondPicker{
            position: absolute;
            top: .32rem;
            width: 240%;
            z-index: 10000;
            background: #fff;
          }
          .filterFirstPicker{
            left: 0;
          }
          .filterSecondPicker{
            right: 0;
          }
        }
        .filterDate.filterDateOn{
          box-shadow: 0 0 8px rgba(65,194,153,0.5);
          border: 1px solid $mainColor;
        }
        .dateSpan{
          width: 12%;
          line-height: .3rem;
          text-align: center;
          margin-bottom: .1rem;
        }
      }
    }
    .filterType{
      i{
        margin-top: .08rem;
      }
      header span{
        color: $mainColor;
      }
      span{
        display: inline-block;
        padding: 2px 0px;
        border-radius: 14px;
        margin:.08rem 0;
        width: 33.3%;
        text-align: center;
      }
      span.curSpan{
        background-color: $mainColor;
        color: #fff;
      }
    }
    .filterBtn{
      margin-top: .3rem;
      h3{
        border: 1px solid $borderColor;
        border-radius: .2rem;
        padding: 0rem .2rem;
        height: .3rem;
        line-height: .3rem;
      }
    }
  }
} 

.dayItemOut{
  height: 26px;
  span.outside, span.side{
    width: 8px;
    height: 8px;
    display: inline-block;
    background: transparent;
    border-radius: 50%;
  }
  span.outside{
    background: #41c299;
  }
  span.side{
    background: #ffc463;
  }
  i{
    position: absolute;
    top: .03rem;
    right: .03rem;
    display: inline-block;
    width: .14rem;
    height: .14rem;
    text-align: center;
    background-color: #d8d8d8;
    color: #fff;
    border-radius: 50%;
    font-style: normal;
    font-size: .12rem;
  }
}


.templateBtn{
  width: .56rem;
  text-align: center;
  display: inline-block;
  margin-left: .2rem;
  dt{
    img{
      width: .56rem;
    }
  }
  dd{
    line-height: .3rem;
    font-size: $jzfontSize;
    color: $jzfontColor;
  }
}
.templateBtn:first-child{
  margin-left: 0;
}


.changeMonthBtn:active{
  color: $mainColor !important;
  opacity: 0.5;
}