@import '../../theme/variables.scss';

.addPatient{
  font-size: $jzjzfontSize;
  color: #fff;
  position: fixed;
  top: .1rem;
  right: $lrmargin;
}

.patInforSection{
  .patInforTab{
    font-size: $jzfontSize;
    margin-bottom: $tbmargin;
    li{
      width: 33.33%;
      text-align: center;
      span{
        height: .4rem;
        line-height: .4rem;
        border-bottom: .04rem solid #fff;
        padding: 0 $lrmargin;
      }
      span.liCur{
        border-bottom: .04rem solid $mainColor;
        color: $mainColor;
      }
    }
  }
  .patInforTabCon{
    .patItemTitle{
      border-bottom: 1px solid $borderColor;
      border-left: .05rem solid $mainColor;
      font-size: $jzfontSize;
      color: $mainColor;
      padding: 0 .07rem 0 .1rem;
      dt{
        height: .31rem;
        line-height: .31rem;
      }
      dd{
        background: $mainColor;
        border-radius: .1rem;
        color: #fff;
        font-size: $xsfontSize;
        padding: .03rem .08rem;
        margin-top: .042rem;
        i{
          background: url(../../images/sprite.png);
          width: .1rem;
          height: .14rem;
          background-size: 2rem;
          background-position: 0 -4.3rem;
          margin-right: .04rem;
          margin-top: .016rem;
        }
      }
    }
    ul{
      padding: .03rem .3rem;
      li{
        margin: $tbmargin 0;
        color: $jzfontColor;
      }
    }
  }
}
